.icons a i.fa-facebook{
    color: #2C80D3;
  }
  
  .icons a i.fa-youtube{
    color: #fa0910;
  }
  
  .icons a i.fa-twitter{
    color:#53c5ff;
  }
  
  .icons a i.fa-linkedin{
    color:#007bb6;
  }
  
  .facebook{
    background-color: #2C80D3;
    color: white;
  }
  
  .youtube{
    background-color: #fa0910;
    color: white;
  }
  
  .twitter{
    background-color: #53c5ff;
    color: white;
  }
  
  .linkedin{
    background-color: #007bb6;
    color: white;
  }
  
  .github{
    background-color: #000;
    color: white;
  }